div(class="modaltruepaiement")
  div(class="modalcontentpaiement")
    div(class="modalpaiement")
      div(class="addpanierr")
       h4 X
      div(class="addpanierp")
        h4 paiement échoué
    div(class="gotopanier")
      h3 continuer
  

