div(class="modalinfo")
  div(class="carrousell")
    if panier  
      div(class="divlist3dlssl")
        div(class="parttwo")
          div(class="divlist4se")
            input(class="divlist5aysys" type="text" value="INFO PAIEMENT" name="exp")
            button(class="closer") X
          div(class="divlist4ses")
            input(class="divlist5aysl" type="text" value="paiement une seul fois" name="exp")
            p(class="divlist5aysd") Une fois le paiement "TOTAL" confirmé, la commande passera automatiquement "EN COURS DE PRÉPARATION"
          div(class="divlist4sess")
            input(class="divlist5aysl" type="text" value="paiement en trois fois" name="exp")
            p(class="divlist5aysdd") Une fois le premier versement confirmé, la commande passera automatiquement "EN COURS DE PRÉPARATION". Toute fois pour
             que que la commande soit "EXPÉDIÉ" il faut que 
             la la somme "TOTAL" soit acquité.

