div(class="modalblack")
  div(class="carrousel")
    button(class="close") X
    div(class="buttoncar")
      button(class="btnone" id="prev") &#10096
      button(class="btnone" id="next") &#10097
    ul(class="ulcarrousel")
      li(class="slide actived")
        img(src="/images/7.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
      li(class="slide")
        img(src="/images/8.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
      li(class="slide")
        img(src="/images/9.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
div(class="modalblackk")
  div(class="carrousel")
    button(class="closee") X
    div(class="buttoncar")
      button(class="btntwo" id="prevv") &#10096
      button(class="btntwo" id="nextt") &#10097
    ul(class="ulcarrousel")
      li(class="slidee activedd")
        img(src="/images/10.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slidee")
        img(src="/images/12.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slidee")
        img(src="/images/11.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slidee")
        img(src="/images/13.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
div(class="modalblackkk")
  div(class="carrousel")
    button(class="closeee") X
    div(class="buttoncar")
      button(class="btnthree" id="prevvv") &#10096
      button(class="btnthree" id="nexttt") &#10097
    ul(class="ulcarrousel")
      li(class="slideee activeddd")
        img(src="/images/16.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slideee")
        img(src="/images/15.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slideee")
        img(src="/images/14.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
div(class="modalblackkkk")
  div(class="carrousel")
    button(class="closeeee") X
    div(class="buttoncar")
      button(class="btnfor" id="prevvvv") &#10096
      button(class="btnfor" id="nextttt") &#10097
    ul(class="ulcarrousel")
      li(class="slideeee activedddd")
        img(src="/images/20.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slideeee")
        img(src="/images/18.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slideeee")
        img(src="/images/19.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      
  
  

