if modalFind 
  each post in modalFind 
    div(class="loaderedd")
      div(class='loaderd active')
    div(class="modal")
      embed(class="embed" src=`/upload/${post.addfile}`, alt="" width="800" height="1000" type="application/pdf")