div(class="modalblack")
  div(class="carrousel")
    button(class="close") X
    div(class="buttoncar")
      button(class="btnone" id="prev") &#10096
      button(class="btnone" id="next") &#10097
    ul(class="ulcarrousel")
      li(class="slide actived")
        img(src="/images/tortue-6.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
      li(class="slide")
        img(src="/images/baleine.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
      li(class="slide")
        img(src="/images/raie.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x15cm
div(class="modalblackk")
  div(class="carrousel")
    button(class="closee") X
    div(class="buttoncar")
      button(class="btntwo" id="prevv") &#10096
      button(class="btntwo" id="nextt") &#10097
    ul(class="ulcarrousel")
      li(class="slidee activedd")
        img(src="/images/tortue-6.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slidee")
        img(src="/images/baleine.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      li(class="slidee")
        img(src="/images/raie.png", alt="" class="folderrdds")
        div(class="divlist4bW")
          p(class="divlist55555") 10x14cm
      
  

