if editable === true && niv === "0" && accesss
  div(class="modallocker")
    a(href="/posts/addaccess/" + postId) 
      div(class="divlocki") 
        img(src="/images/lockerupp.svg", alt="")
        p donner l'accès
    a(href="/posts/doneaccess/" + postId) 
      div(class="divlockii")  
        img(src="/images/lockerr.svg", alt="")
        p blocker l'accès
if editable === true && niv === "1" && accessnivi
  div(class="modallocker")
    a(href="/posts/addaccessnivi/" + postId) 
      div(class="divlocki") 
        img(src="/images/lockerupp.svg", alt="")
        p donner l'accès
    a(href="/posts/doneaccessnivi/" + postId) 
      div(class="divlockii")  
        img(src="/images/lockerr.svg", alt="")
        p blocker l'accès
if editable === true && niv === "2" && accessnivii
  div(class="modallocker")
    a(href="/posts/addaccessnivii/" + postId) 
      div(class="divlocki") 
        img(src="/images/lockerupp.svg", alt="")
        p donner l'accès
    a(href="/posts/doneaccessnivii/" + postId) 
      div(class="divlockii")  
        img(src="/images/lockerr.svg", alt="")
        p blocker l'accès
  

