nav(class="nav") 
  ul(class="ulp") 
    a(href="/posts" class="am1") 
      img(class="img" src="/images/logss.png")
    a(href="/users/ahutai" class="partagea") 
      div(class='partage')
        p(class="partagep") partage
  ul(class="ul") 
    div(class="loaderrsss")
    li(class="lii")
      a(class="a1" href="/posts/new") create
    //- li(class="liii")
    //-   a(class="a2c" href="#") connexion
    li(class="liiic")
      a(class="a2" href="/auth/signout") logout
    
    