nav(class="nav") 
  a(href="/posts" class="am1") 
    img(class="img" src="/images/logs.png")
  ul(class="ul") 
    li(class="liii")
      a(class="a2c" href="#") connexion
    //- li(class="liiic")
    //-   a(class="a2" href="/users/signup/form") inscription
    