nav(class="nav") 
  a(href="#" class="am1") 
    img(class="img" src="/images/logs.png")
  ul(class="ul") 
    div(class="loaderrsss")
    li(class="lii")
      a(class="a1" href="/posts/new") create
    //- li(class="liii")
    //-   a(class="a2c" href="#") connexion
    li(class="liiic")
      a(class="a2" href="/auth/signout") logout
    