div(class="modaltruepaiement")
  div(class="modalcontentpaiement")
    div(class="modalpaiement")
      div(class="addpanier")
       img(src="/images/check.svg", alt="")
      div(class="addpanierp")
        h4 paiement réussie
    div(class="gotopanier")
      h3 continuer