doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" media="(min-width:1000px)" href="/css/main.css")
        link(rel="stylesheet" media="(max-width:500px)" href="/css/mobile.css")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        title ARENI HATIKI
    body
        include includes/load.pug
        include includes/topbarc.pug
        include includes/modalusername.pug
        include includes/modallocker.pug
        .container-fluid
            block content         
        script(src="/javascripts/posts/post.js")
        script(src="/javascripts/posts/new.js")
        script(src="/javascripts/posts/pointe.js")
        script(src="/javascripts/posts/chevron.js")
        script(src="/javascripts/posts/general.js")
        if user 
          script(src="/javascripts/posts/validepassword.js")
          script(src="/javascripts/posts/closemodaluser.js")
        if editable === true && niv === "0"
          script(src="/javascripts/posts/modallock.js")
        if editable === true && niv === "1"
          script(src="/javascripts/posts/modallock.js")
        if editable === true && niv === "2"
          script(src="/javascripts/posts/modallock.js")
        if modalFind 
          each post in modalFind
            if post.type === "application/pdf"
              script(src="/javascripts/posts/modal.js")
              script(src="/javascripts/posts/mod.js")
            else
              script(src="/javascripts/posts/divdow.js")
              script(src="/javascripts/posts/modal.js")
        if modalFindd
          each post in modalFindd
            if post.type === "application/pdf"
              script(src="/javascripts/posts/modal.js")
              script(src="/javascripts/posts/mod.js")
            else
              script(src="/javascripts/posts/divdow.js")
              script(src="/javascripts/posts/modal.js")
        if modalFinddd
          each post in modalFinddd
            if post.type === "application/pdf"
              script(src="/javascripts/posts/modal.js")
              script(src="/javascripts/posts/mod.js")
            else
              script(src="/javascripts/posts/divdow.js")
              script(src="/javascripts/posts/modal.js")
        if content && editable === true && findd
          script(src="/javascripts/posts/reload.js")
        if content && editable === true && listfolderiii
          script(src="/javascripts/posts/reload.js")
        if content && editable === false
          script(src="/javascripts/posts/reload.js")
          

          



