* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(74, 74, 74);
  background-color: #494949;
}

.nav {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgb(50, 50, 50);
  width: 100%;
  border-bottom: 2px solid rgb(111, 111, 111);
  /* box-shadow: 0px 0px 5px black; */
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  font-size: 17px;
  color: white;
}

.img {
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.ulp {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.am1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usernames {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(25, 135, 186);
  padding: 3px 12.5px 3px 12.5px;
  border-radius: 5px;
  margin-left: 15px;
  opacity: 1;
  transition: all 0.2s;
  overflow: visible;
}

.username {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(25, 135, 186);
  padding: 1px 12.5px 3px 12.5px;
  border-radius: 5px;
  margin-right: 15px;
}

.a1 {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(102, 101, 101);
  padding: 1px 12.5px 3px 12.5px;
  border-radius: 5px;
}

.a22 {
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.a2 {
  margin-right: 20px;
  margin-left: 18px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.a2:hover {
  color: rgb(181, 181, 181);
}

.a2ci:hover {
  color: rgb(0, 142, 31);
}

.a2c:hover {
  color: rgb(21, 120, 167);
}

.a2cc:hover {
  color: rgba(224, 224, 224, 0.661);
}

.a1:hover {
  background-color: rgb(84, 84, 84);
}

/* .username:hover {
  background-color: rgb(0, 106, 151);
} */

.text {
  color: white;
}

/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */

.modalform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
  position: absolute;
  background-color: #0000008c;
  height: 100vh;
  width: 100%;
}

.divmform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
}

.formmodal {
  background-color: rgb(50, 50, 50);
  width: 550px;
  text-align: center;
  padding: 15px 0px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);

  box-shadow: 0px 0px 5px black;
}

.newmodall {
  background-color: rgb(50, 50, 50);
  width: 550px;
  text-align: center;
  padding: 15px 0px;
  margin: 30px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);
  box-shadow: 0px 0px 5px black;
}

.divc1form {
  background-color: rgb(50, 50, 50);
  width: 550px;
  text-align: center;
  padding: 15px 0px;
  margin: 30px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);

  box-shadow: 0px 0px 5px black;
}

.divc2form {
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 0px 5px black;
  height: 150px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);
}

.formm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.form {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(0, 174, 237);
  color: white;
  cursor: pointer;
}

.divc4form input {
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  /* border: 2px solid rgb(192, 192, 192); */
  height: 35px;
  padding: 0px 10px;
}

/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */

.ulerrorform {
  list-style: none;
}

.lierrorform {
  color: red;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */

.divlist3s {
  width: 95%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.status {
  margin-left: 90px;
  margin-right: 7px;
}

.name {
  margin-left: 20px;
  margin-right: 20px;
}

.options {
  margin-left: 32px;
  margin-right: 17px;
}

.adresses {
  margin-left: 40px;
  margin-right: 30px;
}

.adresse {
  margin-left: 40px;
  margin-right: 20px;
}

.divlist3s.active {
  width: 95%;
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3 {
  width: 90%;
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3.active {
  width: 90%;
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.divlist1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* border: 2px solid white; */
}

.divlistm1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divlistm2 {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-containerr {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row nowrap;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  /* background-color: rgb(107, 107, 107); */
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0px 0px 5px black;
  margin-right: 50px;
}

.divlist2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 85%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  /* background-color: rgb(107, 107, 107); */
  box-shadow: inset 0px 0px 5px black;
  max-height: 630px;
  min-height: 630px;
  transition: all 0.2s;
  margin-right: 25px;
  overflow: scroll;
}

.divlist2v2 {
  margin-right: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  /* background-color: rgb(107, 107, 107); */
  box-shadow: inset 0px 0px 5px black;
  min-height: 630px;
  max-height: 630px;
  transition: all 0.2s;
  overflow: scroll;
}

.buttonmlist {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.aded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divdow a p {
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 120ms;
}

.adow {
  list-style: none;
  text-decoration: none;
}

.divdow {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #525252;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 43.5%;
  border: 2px solid rgb(151, 151, 151);
}

.adow p:hover {
  color: #d3d3d3;
}

.adddeddd {
  margin-left: 70px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.adddedd {
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.foldera {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}

.addded {
  margin-left: 10px;
  margin-right: 5px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.adddede {
  margin-left: 10px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.addd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.adddd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  /* flex: 1; */
  font-size: 12px;
  cursor: default;
}

.filed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ajout {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.add {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfiless {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfiles {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfile {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.trs {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.buttonmlistt {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.delfoldernivii {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.divniv {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 85, 85);
  height: 22.5px;
  min-width: 22.5px;
  border-radius: 5px;
}

.nivp {
  color: rgb(255, 255, 255);
}

.deletesfiles:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.deletesfiless:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.deletesfile:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.buttonmlistt:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.delfoldernivii:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.addd:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.adddedd:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.addded:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.add:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmlist:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.trois:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmods:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmod:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.addusers:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.buttonmodd:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.modalfilefolder:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.userp {
  color: rgb(188, 188, 188);
  margin-left: 10px;
}

.divlist5s {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlist5 {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlistuser {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlistuserr {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(188, 188, 188);
}

.contentt {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.content {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.divlist5555 {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
}

.divlist555 {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
}

.divlist55 {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  cursor: pointer;
  transition: all 150ms;
}

.divlist55:hover {
  color: rgb(135, 135, 135);
}

.divlist54 {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
}

.divlist5.active {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(19, 214, 32);
}

.divlist4 {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.inputformr {
  width: 450px;
  border-radius: 5px;
  display: flex;
  font-size: 18.5px;
  padding: 7px 10px 8px 10px;
  background-color: rgb(114, 114, 114);
  border: 0px;
  color: white;
  height: 20px;
}

.inputform {
  width: 450px;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  padding: 12px 0px 0px 12px;
  background-color: rgb(114, 114, 114);
  border: 0px;
  color: white;
}

.astorage {
  cursor: default;
}

.storage {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmoddde {
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.addusers {
  margin-left: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.showmodal {
  position: relative;
  height: 72;
  width: 120px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 45%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 120ms ease;
  /* border: 2px solid rgb(106, 106, 106); */
}

.showmodal.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms ease;
}

.divmodal {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 120ms;
  padding: 2.5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divmodall {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 120ms;
  padding: 2.5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.divmodal:hover {
  background-color: #555555;
}

.divmodall:hover {
  background-color: #555555;
}

.divmodal p {
  font-size: 15px;
  min-width: 50px;
  max-width: 50px;
  margin-left: 7px;
}

.divmodall p {
  font-size: 15px;
  min-width: 50px;
  max-width: 50px;
  margin-left: 7px;
}

.modalfilefolder {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmodd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmods {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.del {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.buttonmod {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.trois {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.divbutton {
  display: flex;
  flex-direction: row nowrap;
  margin-top: 4px;
}

/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */

/* .divc3formuser {
  height: 500px;
  width: 500px;
} */

/* .formmuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
} */

.textarea {
  /* font-size: 18px;
  width: 400px;
  margin-top: 0px;
  border-radius: 3px;
  border: 0px;
  padding: 5px 5px; */
  font-size: 18px;
  width: 440px;
  border-radius: 2.5px;
  height: 20px;
  padding: 6px 10px 6px 10px;
  border: 0px;
  color: white;
  margin-bottom: 12px;
  background-color: rgb(114, 114, 114);
}

.inputusername {
  /* font-size: 18px;
  width: 400px;
  margin-top: 0px;
  border-radius: 3px;
  border: 0px;
  padding: 5px 5px; */
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  border: 0px;
  color: white;
  background-color: rgb(114, 114, 114);
}

.inputemail {
  /* font-size: 18px;
  width: 400px;
  border-radius: 3px;
  border: 0px;
  padding: 5px 5px; */
  margin: 20px 0px;
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.inputfolders {
  margin: 20px 0px 25px 0px;
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 20px;
  padding: 7.5px 10px 10px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.inputfolder {
  font-size: 13px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  /* background-color: rgb(114, 114, 114); */
  color: white;
  border: 0px;
}

.containere {
  height: 94vh;
  max-height: 94vh;
  width: 100%;
  background-image: url(../images/info.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputpassword {
  /* font-size: 18px;
  width: 400px;
  border-radius: 3px;
  border: 0px;
  padding: 5px 5px; */
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.divfoldd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 160px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.divfold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 220px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.formmodalI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 300px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
  margin-bottom: 145px;
}

.newmodal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
}

.divc2formuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 150px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.inputmformuser {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(25, 135, 186);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 120ms;
}

.inputmformuser:hover {
  /* background-color: rgb(0, 148, 201); */
  background-color: rgb(16, 115, 161);
}

.inputmforms {
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 5px;
  border: 0px;
  /* border: 2px solid rgb(228, 228, 228); */
  background-color: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  transition: all 120ms;
  margin-bottom: 15.5px;
}

.inputmform {
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 5px;
  border: 0px;
  /* border: 2px solid rgb(228, 228, 228); */
  background-color: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  transition: all 120ms;
}

.inputmforms:hover {
  background-color: rgb(98, 98, 98);
}

.inputmform:hover {
  background-color: rgb(98, 98, 98);
}

.liii {
  padding-right: 0px;
  margin-right: 0px;
}

.a2c {
  margin-right: 20px;
  margin-left: 18px;
  color: rgb(25, 135, 186);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.a2cc {
  margin-right: 0px;
  margin-left: 18px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.a2ci {
  color: rgb(0, 172, 37);
  margin-right: 20px;
  margin-left: 18px;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.text {
  font-weight: bold;
}

/* connexion */
/* connexion */
/* connexion */
/* connexion */
/* connexion */
/* connexion */

.divc2formc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);

  height: 220px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(112, 112, 112);
  box-shadow: 0px 0px 5px black;
}

.divc4formc input {
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  border: 0px;
}

.divc5formc {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 15px;
}

/* topbar */
/* topbar */
/* topbar */
/* topbar */
/* topbar */

/* .liiic {
  padding: 2.5px 0px;
  margin-left: 10px;
  background-color: rgb(0, 174, 237);
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  margin-right: 10px;
} */

/* .a2 {
  color: white;
} */

.loaderrrs {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderrrs.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loaderr {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderr.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loaderrsss {
  margin-left: 45px;
  margin-right: 20px;
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderrsss.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loadered {
  margin-left: 285px;
}

.loaderedd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.loadereded {
  height: 22px;
  width: 22px;
  padding: 6.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  /* transition: all 0.2s; */
  margin-bottom: 130px;
}

.loader {
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  /* transition: all 0.2s; */
  opacity: 0;
}

.loaderd {
  height: 22px;
  width: 22px;
  padding: 5.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 120px;
}

.loaderd.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.loaderrss {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  opacity: 0;
  transition: all 0s;
}

.loaderrss.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

/* folder */
/* folder */
/* folder */
/* folder */

.folder-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row nowrap;
  padding: 10px 0px;
  border-radius: 5px;
  height: 40px;
  width: 85%;
  box-shadow: inset 0px 0px 5px black;
  /* background-color: rgb(107, 107, 107); */
  background-color: rgb(50, 50, 50);

  /* box-shadow: 0px 0px 5px black; */
  margin-right: 25px;
  max-height: 19px;
}

.divlist5 {
  cursor: pointer;
}

.folder {
  margin-right: 60px;
}

.divc5forms {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row nowrap;
}

.divc5form {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row nowrap;
}

.infotech {
  height: 60px;
  width: 80%;
}

.divc1form {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
}

.h1ff {
  color: rgb(4, 240, 228);

  text-shadow: 0px 0px 4px black;
}

.h1f {
  color: rgb(4, 240, 228);
  text-shadow: 0px 0px 4px black;
}

/* up down */
/* up down */
/* up down */
/* up down */

.up-down {
  height: 15px;
  min-width: 15px;
  background-color: #ea0d0d;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 15px;
  margin-right: 5px;
}

.up-down.active {
  height: 15px;
  min-width: 15px;
  background-color: #0dea0d;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 15px;
  margin-right: 5px;
}

.inputupdown {
  margin-top: 20px;
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.folder {
  margin-left: 15px;
  margin-right: 4px;
  max-width: 25px;
  max-height: 25px;
}

.modalll {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms;
  pointer-events: none;
  z-index: 2;
}

.modalll.active {
  overflow: visible;
  opacity: 1;
  transition: all 300ms;
}

.modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modall {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}

.chevron-right {
  cursor: pointer;
  transition: all 110ms;
  border-radius: 5px;
  margin-right: 30px;
}

.chevron-right:hover {
  background-color: #5e5e5efb;
}

.chevron-left {
  cursor: pointer;
  transition: all 110ms;
  border-radius: 5px;
}

.chevron-left:hover {
  background-color: #5e5e5efb;
}

.partage {
  background: #6c6c6c;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.partage p {
  color: white;
}

.partagea {
  list-style: none;
  text-decoration: none;
}

.reloader {
  position: absolute;
  height: 630px;
  width: 28%;
  background-color: rgb(50, 50, 50);
  display: FLEX;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
}

.reloade {
  position: absolute;
  height: 630px;
  width: 64%;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
}

.reload {
  position: absolute;
  height: 630px;
  width: 64%;
  background-color: rgb(50, 50, 50);
  display: FLEX;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
}

.reload.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.reloade.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.reloader.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.lii {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.cote {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.cotei {
  border-radius: 2.5px;
  transition: all 120ms;
  cursor: pointer;
}

.cotei:hover {
  background-color: #818181;
}

.coteii {
  border-radius: 2.5px;
  transition: all 120ms;
  cursor: pointer;
}

.coteii:hover {
  background-color: #818181;
}

.h3foler {
  color: white;
}
