* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(74, 74, 74);
  background-color: #494949;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(50, 50, 50);
  border-bottom: 2px solid rgb(111, 111, 111);
  /* box-shadow: 0px 0px 5px black; */
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  font-size: 17px;
  color: white;
}

.divlistm1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divlist2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: row nowrap;
  justify-content: space-around;
  border-radius: 5px;
  width: 90%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  /* background-color: rgb(107, 107, 107); */
  box-shadow: inset 0px 0px 5px black;
  height: 6.7vh;
  transition: all 0.2s;
  margin-top: 15px;
}

.folder-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row nowrap;
  padding: 10px 0px;
  border-radius: 5px;
  height: 40px;
  width: 90%;
  box-shadow: inset 0px 0px 5px black;
  /* background-color: rgb(107, 107, 107); */
  background-color: rgb(50, 50, 50);
  /* box-shadow: 0px 0px 5px black; */
  max-height: 19px;
}

.content {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.img {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  height: 2px;
  width: 2px;
}

.ulp {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  height: 2px;
  width: 2px;
}

.cote {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  height: 2px;
  width: 2px;
}

.a1 {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  height: 2px;
  width: 2px;
}

.labelii {
  font-size: 12.5px;
  margin-left: 7px;
  margin-right: 10px;
  pointer-events: none;
}

.labeli {
  font-size: 12.5px;
  margin-left: 7px;
  margin-right: 10px;
}

.divlist5appp {
  cursor: pointer;
}

.divlist5app {
  cursor: pointer;
  pointer-events: none;
}

.divlist5ap {
  cursor: pointer;
}

.divlist544av::placeholder {
  color: #d6d6d6;
}

.usernames {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(25, 135, 186);
  padding: 3px 12.5px 3px 12.5px;
  border-radius: 5px;
  margin-left: 15px;
  opacity: 1;
  transition: all 0.2s;
  overflow: visible;
}

.username {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(25, 135, 186);
  padding: 1px 12.5px 3px 12.5px;
  border-radius: 5px;
  margin-right: 15px;
}

.a1 {
  color: rgb(243, 243, 243);
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(102, 101, 101);
  padding: 1px 12.5px 3px 12.5px;
  border-radius: 5px;
}

.a22 {
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.a2 {
  margin-right: 20px;
  margin-left: 18px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.a2:hover {
  color: rgb(181, 181, 181);
}

.a2ci:hover {
  color: rgb(0, 142, 31);
}

.a2c:hover {
  color: rgb(21, 120, 167);
}

.a2cc:hover {
  color: rgba(224, 224, 224, 0.661);
}

.a1:hover {
  background-color: rgb(84, 84, 84);
}

/* .username:hover {
    background-color: rgb(0, 106, 151);
  } */

.text {
  color: white;
}

/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */
/* Party FORM */

.modalform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
  position: absolute;
  background-color: #0000008c;
  height: 2px;
  width: 2px;
}

.divmform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
}

.formmodal {
  background-color: rgb(50, 50, 50);
  width: 550px;
  text-align: center;
  padding: 15px 0px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);

  box-shadow: 0px 0px 5px black;
}

.newmodall {
  background-color: rgb(50, 50, 50);
  width: 550px;
  text-align: center;
  padding: 15px 0px;
  margin: 30px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);
  box-shadow: 0px 0px 5px black;
}

.divc1form {
  background-color: rgb(50, 50, 50);
  width: 320px;
  text-align: center;
  padding: 15px 0px;
  margin: 30px 0px 20px 0px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);

  box-shadow: 0px 0px 5px black;
}

.divc2form {
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 0px 5px black;
  height: 150px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(114, 114, 114);
}

.formm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.form {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(0, 174, 237);
  color: white;
  cursor: pointer;
}

.divc4form input {
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  /* border: 2px solid rgb(192, 192, 192); */
  height: 35px;
  padding: 0px 10px;
}

/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */
/* errors form */

.ulerrorform {
  list-style: none;
}

.lierrorform {
  color: red;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */
/* divlist */

.formlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.divlist3ss {
  width: 100.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divlist3sw {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3stt {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3st {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.partone {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
  margin-bottom: 25px;
}

.parttwo {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3snw {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row nowrap;
  justify-content: start;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3sn {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row nowrap;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3dl {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  min-height: 220px;
  max-height: 220px;
  display: flex;
  align-items: center;
  flex-direction: row nowrap;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3s {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: row nowrap;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.nom {
  margin-left: 30px;
}

.prix {
  margin-left: 40px;
}

.prixx {
  margin-left: 14px;
}

.creer {
  margin-left: 70px;
}

.status {
  margin-left: 14px;
}

.name {
  margin-left: 20px;
}

.options {
  margin-left: 32px;
  margin-right: 17px;
}

.formatt {
  margin-right: 95px;
}

.format {
  margin-right: 30px;
  margin-left: 8px;
}

.nomn {
  margin-right: 200px;
  margin-left: 18px;
}

.nomn {
  margin-right: 200px;
  margin-left: 18px;
}

.adresses {
  margin-left: 18px;
}

.quantt {
  margin-left: 0px;
  margin-right: 16px;
}

.quant {
  margin-left: 20px;
}

.statuse {
  margin-left: 0px;
}

.adresse {
  margin-left: 0px;
}

/* .divlist3s.active {
  width: 95%;
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
} */

.divlist3sc {
  width: 90%;
  background-color: rgb(80, 80, 80);
  margin: 10px 0px;
  min-height: 140px;
  max-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3 {
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

.divlist3.active {
  width: 90%;
  background-color: rgb(80, 80, 80);

  margin: 10px 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: cente;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  transition: all 0.2s;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.divlist1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* border: 2px solid white; */
}

.product {
  color: rgb(221, 221, 221);
}

.divlistm2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-containerr {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row nowrap;
  padding: 10px 0px;
  border-radius: 5px;
  width: 90%;
  /* background-color: rgb(107, 107, 107); */
  background-color: rgb(50, 50, 50);
  box-shadow: inset 0px 0px 5px black;
  height: 18px;
}

.divlist2v2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  border-radius: 5px;
  width: 90%;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  /* background-color: rgb(107, 107, 107); */
  box-shadow: inset 0px 0px 5px black;
  height: 65vh;
  transition: all 0.2s;
  overflow: scroll;
}

.buttonmlist {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.aded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divdow a p {
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 120ms;
}

.adow {
  list-style: none;
  text-decoration: none;
}

.divdow {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #525252;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 43.5%;
  border: 2px solid rgb(151, 151, 151);
}

.adow p:hover {
  color: #d3d3d3;
}

.adddeddd {
  margin-left: 10px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.adddedd {
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.foldera {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.addded {
  margin-left: 10px;
  margin-right: 5px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.adddede {
  margin-left: 10px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.addd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  border-radius: 5px;
  border: 0px;
  padding: 2px 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.adddd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  /* flex: 1; */
  font-size: 12px;
  cursor: default;
}

.filed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ajout {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.add {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfiless {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfiles {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.deletesfile {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.trs {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.buttonmlistt {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.delfoldernivii {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.divniv {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(85, 85, 85);
  height: 22.5px;
  min-width: 22.5px;
  border-radius: 5px;
}

.nivp {
  color: rgb(255, 255, 255);
}

.deletesfiles:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.deletesfiless:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.deletesfile:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.buttonmlistt:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.delfoldernivii:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.addd:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.adddedd:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.addded:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.add:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmlist:hover {
  background-color: rgba(199, 3, 3, 0.646);
}

.trois:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmods:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.buttonmod:hover {
  background-color: rgba(132, 132, 132, 0.646);
}

.addusers:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.buttonmodd:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.modalfilefolder:hover {
  background-color: rgba(151, 151, 151, 0.646);
}

.userp {
  color: rgb(188, 188, 188);
  margin-left: 10px;
}

.divlist5s {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.inputprix {
  visibility: hidden;
  position: fixed;
  width: 100px;
}

.divlist5ac {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  pointer-events: none;
}

.divlist5aw {
  list-style: none;
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border: 0px;
  font-size: 12px;
  font-weight: bold;
  width: 60px;
  pointer-events: none;
  margin: 10px 0px 10px 10px;
  border-bottom: 2px dashed rgb(152, 152, 152);
  padding-bottom: 5px;
}

.divlist5af::placeholder {
  color: #cacaca;
  text-transform: lowercase;
}

.divlist5af {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  background-color: rgb(129, 129, 129);
  color: white;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  width: 150px;
  padding: 3.5px 5px;
  border-radius: 5px;
  width: 170px;
  text-align: center;
  border: 2px solid rgb(177, 177, 177);
  text-transform: uppercase;
}

.divlist5ay {
  list-style: none;
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border: 0px;
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  pointer-events: none;
  text-align: center;
  height: 15px;
}

.divlist5al {
  list-style: none;
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border: 0px;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  pointer-events: none;
  text-align: center;
  height: 15px;
}

.divlist5a {
  list-style: none;
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  color: white;
  border: 0px;
  font-size: 12px;
  font-weight: bold;
  width: 50px;
  pointer-events: none;
  text-align: center;
  height: 15px;
}

.divlist5c {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlist5dl {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(157, 157, 157);
}

.divlist5d {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlist5 {
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlistuser {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.divlistuserr {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(188, 188, 188);
}

.contentt {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.content {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  list-style: none;
  text-decoration: none;
}

.inputaddd:hover {
  background-color: #1f7191;
}

.inputaddddd:hover {
  background-color: #228faa;
}

.inputaddddd {
  height: 23px;
  width: 82px;
  font-weight: bold;
  background-color: #27a6c6;
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
}

.inputaddddss {
  height: 23px;
  width: 82px;
  font-weight: bold;
  background-color: #d34945;
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
  pointer-events: none;
}

.inputadddds {
  height: 23px;
  width: 82px;
  font-weight: bold;
  background-color: #2cb037;
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
  pointer-events: none;
}

.inputadddd {
  height: 23px;
  width: 82px;
  font-weight: bold;
  background-color: #c69927;
  /* border: 2px solid rgb(255, 255, 255); */
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
  pointer-events: none;
}

.inputaddd {
  height: 23px;
  width: 82px;
  font-weight: bold;
  background-color: #2799c6;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
}

.inputadd:hover {
  background-color: #1f7191;
}

.inputadd {
  height: 23px;
  width: 70px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #2799c6;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 2px 0px;
  cursor: pointer;
  transition: all 120ms;
  margin-bottom: 10px;
}

.divlist55555 {
  list-style: none;
  text-decoration: none;
  color: rgb(234, 234, 234);
  font-size: 12px;
  transition: all 120ms;
  height: 15px;
  width: 55px;
  background-color: #6e6e6e;
  text-align: center;
  /* padding-top: 5px; */
  border-radius: 5px;
  border: 2px solid rgb(168, 168, 168);
  padding: 2px 0px;
  cursor: pointer;
}

.divlist55555:hover {
  background-color: #525252;
}

.divlist5555 {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
}

.divlist555rrr {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  margin: 15px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(215, 200, 39);
}

.divlist555rr {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  margin: 15px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(21, 146, 196);
}

.divlist555rl {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 15px;
  transition: all 150ms;
  /* padding-bottom: 5px; */
  /* border-bottom: 2px solid rgb(34, 175, 15); */
}

.divlist555r {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  margin: 15px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(34, 175, 15);
}

.divlist555sr {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  letter-spacing: 2px;
}

.divlist555lmm {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  border-bottom: 2px solid #2cb037;
}

.divlist555lmmm {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  border-bottom: 2px solid #d34945;
}

.divlist555lm {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
  border-bottom: 2px solid #c69927;
}

.divlist555 {
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  transition: all 150ms;
}

.divlist555mm {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 150ms;
  background-color: #7e7e7e;
  height: 20px;
  text-align: center;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
}

.divlist555m {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 150ms;
  background-color: #7e7e7e;
  height: 20px;
  text-align: center;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
}

.divlist555ll {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 120ms;
  background-color: #7e7e7e;
  height: 20px;
  text-align: center;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.divlist555ll:hover {
  background-color: #696969;
}

.divlist555l {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  transition: all 150ms;
  background-color: #7e7e7e;
  height: 20px;
  text-align: center;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
}

.divlist55 {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
  cursor: pointer;
  transition: all 150ms;
}

.divlist55:hover {
  color: rgb(135, 135, 135);
}

.divlist544avvv {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 80px;
  font-weight: bold;
  pointer-events: none;
}

.divlist544avv {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 80px;
  font-weight: bold;
}

.divlist544avw {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 80px;
  font-weight: bold;
  pointer-events: none;
}

.divlist544av {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12.5px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
  text-transform: uppercase;
  max-width: 130px;
  font-weight: bold;
}

.divlist544a {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  max-width: 20px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
  pointer-events: none;
}

.divlist544 {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  max-width: 60px;
  border-radius: 5px;
  background-color: #828282;
  padding: 2.5px 2.5px;
  text-align: center;
}

.divlist54 {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: rgb(174, 174, 174);
  font-size: 12px;
}

.divlist5.active {
  margin-left: 10px;
  list-style: none;
  text-decoration: none;
  color: rgb(19, 214, 32);
}

.divlist4ll {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.divlist4llr {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
  border-bottom: 2px solid rgb(165, 165, 165);
  padding-bottom: 5px;
}

.divlist4llrr {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
}

.divlist4lr {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(165, 165, 165);
}

.divlist4l {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.divlist4r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divlist4zz {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.divlist4z {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}

.divlist4zd {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
  padding-bottom: 2.5px;
  border-bottom: 2px solid rgb(156, 156, 156);
}

.divlist4zzd {
  display: flex;
  flex-direction: row nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 0px;
  padding-bottom: 2.5px;
  border-bottom: 2px solid rgb(156, 156, 156);
}

.divlist4se {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 5px;
  border-bottom: 2px solid rgb(146, 146, 146);
  padding-bottom: 5px;
}

.divlist4 {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.divlist4b {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.divlist4j {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 5px;
  /* border-bottom: 2px solid rgb(174, 174, 174); */
  padding-bottom: 5px;
}

.divlist4n {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 5px;
  border-bottom: 2px solid rgb(162, 162, 162);
}

.inputformr {
  width: 450px;
  border-radius: 5px;
  display: flex;
  font-size: 18.5px;
  padding: 7px 10px 8px 10px;
  background-color: rgb(114, 114, 114);
  border: 0px;
  color: white;
  height: 20px;
}

.inputform {
  width: 450px;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  padding: 12px 0px 0px 12px;
  background-color: rgb(114, 114, 114);
  border: 0px;
  color: white;
}

.astorage {
  cursor: default;
}

.storage {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: default;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmoddde {
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  transition: all 120ms;
  font-size: 12px;
}

.addusers {
  margin-left: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.showmodal {
  position: relative;
  height: 72;
  width: 120px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 45%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 120ms ease;
  /* border: 2px solid rgb(106, 106, 106); */
}

.showmodal.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms ease;
}

.divmodal {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 120ms;
  padding: 2.5px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.divmodall {
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 120ms;
  padding: 2.5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.divmodal:hover {
  background-color: #555555;
}

.divmodall:hover {
  background-color: #555555;
}

.divmodal p {
  font-size: 15px;
  min-width: 50px;
  max-width: 50px;
  margin-left: 7px;
}

.divmodall p {
  font-size: 15px;
  min-width: 50px;
  max-width: 50px;
  margin-left: 7px;
}

.modalfilefolder {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmodd {
  margin-left: 10px;
  margin-right: 10px;
  height: 22.5px;
  width: 25px;
  padding: 2px 0px;
  border-radius: 5px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* flex: 1; */
  cursor: pointer;
  transition: all 120ms;
  font-size: 12px;
}

.buttonmods {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.del {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.buttonmod {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.trois {
  height: 22px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: all 120ms;
  text-decoration: none;
  border: 0px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  border: 0px;
  font-weight: bold;
  padding: 2px 0px;
}

.divbuttonnns {
  display: flex;
  flex-direction: row nowrap;
  margin-top: 5px;
}

.divbuttonn {
  display: flex;
  flex-direction: row nowrap;
}

.divbutton {
  display: flex;
  flex-direction: row nowrap;
  margin-top: 4px;
}

/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */
/* user-form */

/* .divc3formuser {
    height: 500px;
    width: 500px;
  } */

/* .formmuser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
  } */

.textarea {
  /* font-size: 18px;
    width: 400px;
    margin-top: 0px;
    border-radius: 3px;
    border: 0px;
    padding: 5px 5px; */
  font-size: 18px;
  width: 440px;
  border-radius: 2.5px;
  height: 20px;
  padding: 6px 10px 6px 10px;
  border: 0px;
  color: white;
  margin-bottom: 12px;
  background-color: rgb(114, 114, 114);
}

.inputusername {
  /* font-size: 18px;
    width: 400px;
    margin-top: 0px;
    border-radius: 3px;
    border: 0px;
    padding: 5px 5px; */
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  border: 0px;
  color: white;
  background-color: rgb(114, 114, 114);
}

.inputemail {
  /* font-size: 18px;
    width: 400px;
    border-radius: 3px;
    border: 0px;
    padding: 5px 5px; */
  margin: 20px 0px;
  font-size: 18px;
  width: 280px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.inputfolders {
  margin: 20px 0px 25px 0px;
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 20px;
  padding: 7.5px 10px 10px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.inputfolder {
  font-size: 13px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  /* background-color: rgb(114, 114, 114); */
  color: white;
  border: 0px;
}

.containere {
  height: 92vh;
  max-height: 92vh;
  width: 100%;
  background-image: url(../images/info.png);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputpassword {
  /* font-size: 18px;
    width: 400px;
    border-radius: 3px;
    border: 0px;
    padding: 5px 5px; */
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.divfoldd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 160px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.divfold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 220px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.formmodalI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 300px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
  margin-bottom: 145px;
}

.newmodal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 65vh; */
  transition: all 0.2s;
  animation-name: fadeIn;
}

.divc2formuserr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 360px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.divc2formuser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 150px;
  width: 550px;
  border-radius: 5px;
  border: 2px solid rgb(120, 120, 120);
  box-shadow: 0px 0px 5px black;
}

.inputmformuser {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgb(25, 135, 186);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 120ms;
}

.inputmformuser:hover {
  /* background-color: rgb(0, 148, 201); */
  background-color: rgb(16, 115, 161);
}

.inputmforms {
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 5px;
  border: 0px;
  /* border: 2px solid rgb(228, 228, 228); */
  background-color: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  transition: all 120ms;
  margin-bottom: 15.5px;
}

.inputmform {
  font-size: 15px;
  padding: 3px 9px;
  border-radius: 5px;
  border: 0px;
  /* border: 2px solid rgb(228, 228, 228); */
  background-color: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  transition: all 120ms;
}

.inputmforms:hover {
  background-color: rgb(98, 98, 98);
}

.inputmform:hover {
  background-color: rgb(98, 98, 98);
}

.liii {
  padding-right: 0px;
  margin-right: 0px;
}

.a2c {
  margin-right: 20px;
  margin-left: 18px;
  color: rgb(25, 135, 186);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.a2cc {
  margin-right: 0px;
  margin-left: 18px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.a2ci {
  color: rgb(0, 172, 37);
  margin-right: 20px;
  margin-left: 18px;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.text {
  font-weight: bold;
}

/* connexion */
/* connexion */
/* connexion */
/* connexion */
/* connexion */
/* connexion */

.divc2formc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);

  height: 220px;
  width: 320px;
  border-radius: 5px;
  border: 2px solid rgb(112, 112, 112);
  box-shadow: 0px 0px 5px black;
}

.divc4formc input {
  font-size: 18px;
  width: 230px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  border: 0px;
}

.divc5formc {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 15px;
}

/* topbar */
/* topbar */
/* topbar */
/* topbar */
/* topbar */

/* .liiic {
    padding: 2.5px 0px;
    margin-left: 10px;
    background-color: rgb(0, 174, 237);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    margin-right: 10px;
  } */

/* .a2 {
    color: white;
  } */

.loaderrrs {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderrrs.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loaderr {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderr.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loaderrsss {
  margin-left: 45px;
  margin-right: 20px;
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  transition: all 0s;
  opacity: 0;
}

.loaderrsss.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

.loadered {
  margin-left: 345px;
}

.loadnivi {
  margin-left: 320px;
}

.lockerr {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 22.5px;
  width: 22.5px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 120ms;
  cursor: default;
}

.locker {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  height: 22.5px;
  width: 22.5px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 120ms;
  cursor: pointer;
}

.locker:hover {
  background-color: #767676;
}

.loaderpassword {
  margin-left: 15px;
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  /* transition: all 0.2s; */
  opacity: 0;
}

.loaderpassword.active {
  opacity: 1;
  visibility: visible;
}

.loaderedd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.loadereded {
  height: 22px;
  width: 22px;
  padding: 6.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  /* transition: all 0.2s; */
  margin-bottom: 130px;
}

.loadernivi {
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  /* transition: all 0.2s; */
  opacity: 0;
}

.loadernivi.active {
  visibility: visible;
  opacity: 1;
}

.loaderlock {
  margin-left: 10px;
}

.loadlock {
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  /* transition: all 0.2s; */
  opacity: 0;
}

.loader {
  height: 12px;
  width: 12px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  /* transition: all 0.2s; */
  opacity: 0;
}

.loaderd {
  height: 22px;
  width: 22px;
  padding: 5.5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  opacity: 0;
  margin-bottom: 120px;
}

.loaderd.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

.loadlock.active {
  visibility: visible;
  opacity: 1;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.loaderrss {
  margin-left: 25px;
  margin-right: 50px;
  height: 15px;
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #60959b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  visibility: hidden;
  opacity: 0;
  transition: all 0s;
}

.loaderrss.active {
  visibility: visible;
  opacity: 1;
  transition: all 0s;
}

/* folder */
/* folder */
/* folder */
/* folder */

.divlist5 {
  cursor: pointer;
}

.folder {
  margin-right: 60px;
}

.divc5forms {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row nowrap;
}

.divc5form {
  margin-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row nowrap;
}

.infotech {
  height: 60px;
  width: 80%;
}

.divc1form {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
}

.h1ff {
  color: rgb(4, 240, 228);

  text-shadow: 0px 0px 4px black;
}

.h1f {
  color: rgb(4, 240, 228);
  text-shadow: 0px 0px 4px black;
}

/* up down */
/* up down */
/* up down */
/* up down */

.up-down {
  height: 15px;
  min-width: 15px;
  background-color: #ea0d0d;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 15px;
  margin-right: 5px;
}

.up-down.active {
  height: 15px;
  min-width: 15px;
  background-color: #0dea0d;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 15px;
  margin-right: 5px;
}

.inputupdown {
  margin-top: 20px;
  font-size: 18px;
  width: 425px;
  border-radius: 2.5px;
  height: 35px;
  padding: 0px 10px;
  background-color: rgb(114, 114, 114);
  color: white;
  border: 0px;
}

.folderd {
  position: absolute;
  visibility: hidden;
  height: 2px;
  width: 2px;
  pointer-events: none;
}

.folderrd {
  margin-left: 10px;
  margin-right: 4px;
  max-width: 25px;
  max-height: 25px;
}

.folder {
  margin-left: 15px;
  margin-right: 4px;
  max-width: 25px;
  max-height: 25px;
}

.folderw {
  margin: 0px 10px;
  max-width: 25px;
  max-height: 25px;
}

.modalll {
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms;
  pointer-events: none;
  z-index: 2;
}

.modalll.active {
  overflow: visible;
  opacity: 1;
  transition: all 300ms;
}

.modal {
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modall {
  position: absolute;
  background-color: #00000059;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
}

.chevron-right {
  cursor: pointer;
  transition: all 110ms;
  border-radius: 5px;
  margin-right: 30px;
}

.chevron-right:hover {
  background-color: #5e5e5efb;
}

.chevron-left {
  cursor: pointer;
  transition: all 110ms;
  border-radius: 5px;
}

.chevron-left:hover {
  background-color: #5e5e5efb;
}

.partage {
  background: #6c6c6c;
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.partage p {
  color: white;
}

.partagea {
  list-style: none;
  text-decoration: none;
}

.reloader {
  position: absolute;
  height: 30px;
  width: 28%;
  background-color: rgb(50, 50, 50);
  display: FLEX;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
}

.reloade {
  position: absolute;
  height: 400px;
  width: 64%;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
}

.reload {
  position: absolute;
  height: 68.2vh;
  width: 90%;
  top: 111px;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 120ms;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 5px;
}

.reload.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.reloade.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.reloader.active {
  visibility: visible;
  opacity: 1;
  transition: all 120ms;
}

.lii {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}

.cote {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.cotei {
  border-radius: 2.5px;
  transition: all 120ms;
  cursor: pointer;
}

.cotei:hover {
  background-color: #818181;
}

.coteii {
  border-radius: 2.5px;
  transition: all 120ms;
  cursor: pointer;
}

.coteii:hover {
  background-color: #818181;
}

.h3foler {
  color: white;
}

.modaluser {
  position: absolute;
  background-color: #464646;
  border: 2px solid #afafaf;
  height: 100px;
  width: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 85px;
  top: 70px;
  overflow: hidden;
  opacity: 0;
  transition: all 120ms ease;
  pointer-events: none;
}

.modaluser.active {
  transition: all 120ms ease;
  overflow: visible;
  pointer-events: all;
  opacity: 1;
  z-index: 2;
}

.passwordinput input {
  background-color: #4d4d4d;
  border-radius: 5px;
  font-size: 15px;
  width: 180px;
  height: 20px;
  padding: 5px 5px;
  border: 2px solid #afafaf;
  color: white;
}

.valideinput {
  display: flex;
  flex-direction: row nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 15px;
}

.valideinput input {
  background-color: #878787;
  height: 20px;
  width: 50px;
  border: 0px;
  border-radius: 5px;
  color: white;
  /* margin-top: 15px; */
  cursor: pointer;
  transition: all 120ms;
  font-weight: bold;
}

.valideinput input:hover {
  background-color: #757575;
}

.divlocki {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: #777777;
  padding: 2.5px 7px 2.5px 3.5px;
  border-radius: 5px;
  width: 137px;
  transition: all 120ms;
  cursor: pointer;
}

.divlocki:hover {
  background-color: #66756b;
}

.divlockii:hover {
  background-color: #7c6969;
}

.modallocker div img {
  margin-right: 7px;
}

.divlocki p {
  color: white;
}

.divlockii p {
  color: white;
}

.divlockii {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #777777;
  padding: 2.5px 7px 2.5px 3.5px;
  border-radius: 5px;
  width: 137px;
  transition: all 120ms;
  cursor: pointer;
}

.modallocker a {
  list-style: none;
  text-decoration: none;
}

.modallocker {
  position: absolute;
  background-color: #464646;
  border: 2px solid #afafaf;
  height: 100px;
  width: 180px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 60px;
  top: 60px;
  overflow: hidden;
  opacity: 0;
  transition: all 120ms ease;
  /* pointer-events: none; */
  z-index: 4;
  pointer-events: none;
}

.modallocker.active {
  opacity: 1;
  overflow: visible;
  pointer-events: all;
}
