extends ../layouti.pug 

block content 
  script(src="/javascripts/posts/loaderr.js")
  div(class="newmodal")
    div(class="newmodall")
      include ../includes/create
    div(class="divfoldd")
      form(class="formmuser" method="post" action= "/posts/supdates/" + modifiii._id) 
        div(class="divc3formuser") 
          div(class="divinputfolders")
            input(class="inputfolders" type="text" name="name" value=modifiii.name placeholder="Name")
          div(class="divc5forms") 
            input(type="submit" value="Valider" class="inputmforms")
            div(class="loaderr")
            if errorss
              ul(class="ulerrorform")
                each error in errorss 
                  li(class="lierrorform")= error
                  