if postes
  each post in postes
    div(class="divlist3")
      div(class="divlist4" id="tested")
        a(class="divlist5" href="/posts/finded/" + post._id)= post.content
      div(class="divbutton")
        a(href="/posts/neww/" + post._id) 
          img(src="/images/add2d.svg", alt="" class="buttonmodd")
        a(href="/posts/listpost/" + post._id) 
          img(src="/images/troisd.svg", alt="" class="buttonmod")
        img(src="/images/deleted.svg", alt="" class="buttonmlist" postid=post._id)