if postes
  each post in postes
    div(class="divlist3")
      div(class="divlist4")
        a(class="divlist5" href="/posts/mod/" + post._id)= post.content
      div(class="divbutton")
        a(class="buttonmod" href="/posts/modd/" + post._id)
          p ajouter
        button(class="buttonmlist" postid=post._id) delet