extends ../layoutch.pug 

block content 
  div(class="divmform")
    div(class="divc1form")
      include ../includes/create
    div(class="divc2formuser")
      form(class="formmuser" method="post" action= "/posts/updatee/" + modifi._id) 
        div(class="divc3formuser") 
          div(class="divc4formuser")
            input(class="textarea" type="text" name="name" value=modifi.name placeholder="Name")
          div(class="divc5form") 
            input(type="submit" value="Valider" class="inputmform" id="inpt")
            div(class="loaderr")
            if errorsss
              ul(class="ulerrorform")
                each error in errorsss
                  li(class="lierrorform")= error