if postes
  each post in postes
    div(class="divlist3")
      if editables === false 
        img(src="/images/foldershared.svg", alt="" class="folder")
        div(class="divlist4" id="tested")
          a(class="divlistuser" href="/users/finduser/" + post.username)= post.username
      if editable === false  
        img(src="/images/folderrrr.png", alt="" class="folder")
        div(class="divlist4" id="tested")
          a(class="divlist5" href="/users/spost/" + post._id)= post.content
      if editable && post.author._id.toString() === currentUser._id.toString()   
        img(src="/images/folderrrr.png", alt="" class="folder")
        div(class="divlist4" id="tested")
          a(class="divlist5" href="/posts/finded/" + post._id)= post.content
      if editable && post.author._id.toString() === currentUser._id.toString()   
        div(class="divbutton")
          //- a(href="/posts/showmodal/" + post._id) 
          //-   img(src="/images/add2d.svg", alt="" class="buttonmodd")
          //- div(class="showmodal")
          //-   div(class="divmodall")
          //-     a(href="/posts/neww/" + postIdFileFolderPostList)
          //-       img(src="/images/folderd.svg", alt="")
          //-     p dossier
          //-   div(class="divmodal")
          //-     a(href="/posts/showmodal/" + postIdFileFolderPostList) 
          //-       img(src="/images/filed.svg", alt="")
          //-     p fichier
          a(href="/posts/neww/" + post._id)
            img(src="/images/add2d.svg", alt="" class="addd")
          a(href="/posts/listpost/" + post._id) 
            img(src="/images/troisd.svg", alt="" class="buttonmods")
          img(src="/images/deleted.svg", alt="" class="buttonmlist" postid=post._id)
      //- if editable === false 
      //-   div(class="divbutton")
      //-     a(href="#" class="astorage") 
      //-       img(src="/images/shar.svg", alt="" class="storage")
            