extends ../layoutcc.pug 

block content
  script(src="/javascripts/posts/loader.js")
  div(class="divmform")
    div(class="divc1form")
      include ../includes/create
    div(class="divc2form")
      form(class="formm" method="post" action= "/posts/postedfile/" + postfile._id)
        div(class="divc3form")
          div(class="divc4form")
            textarea(type="text" class="inputformr" name="content" placeholder="Name")= postfile.content
          div(class="divc5form") 
            input(type="submit" value="Added" class="inputmform")
            div(class="loaderrss")
            if errors
              ul(class="ulerrorform")
                each error in errors 
                  li(class="lierrorform")= error