if postes
  each post in postes
    div(class="divlist3")
      if editables === false 
        img(src="/images/foldershared.svg", alt="" class="folderw")
        div(class="divlist4" id="tested")
          a(class="divlistuser" href="/users/finduser/" + post.username)= post.username
      if editable === false && post.content === "PANIER"
        a(class="divlist5" href="/shared/findpanier/" + "684b0f6b4205045b1df1d6da")
          if resulted === false
            img(src="/images/panier.png", alt="" class="folderw")
          if resulted === true
            img(src="/images/panier-3.png", alt="" class="folderws")    
          if resultedd === false
            img(src="/images/panier.png", alt="" class="folderw")
          if resultedd === true
            img(src="/images/panier-3.png", alt="" class="folderws")   
      if editable === false && post.content === "COMMANDE"
        a(class="divlist5" href="/shared/findawaitcomm/" + post._id)
          img(src="/images/orderr.png", alt="" class="folderw")
      if editable === false && post.content === "PRODUITS"
        a(class="divlist5" href="/shared/spost/" + post._id)
          img(src="/images/shoppings.png", alt="" class="folderw")
      if editable === true && post.author._id.toString() === currentUser._id.toString()   
        img(src="/images/folderrrr.png", alt="" class="folderw")
        div(class="divlist4" id="tested")
          a(class="divlist5" href="/posts/finded/" + post._id)= post.content
      if editable === true && post.author._id.toString() === currentUser._id.toString()   
        div(class="divbutton")
          //- a(href="/posts/showmodal/" + post._id) 
          //-   img(src="/images/add2d.svg", alt="" class="buttonmodd")
          //- div(class="showmodal")
          //-   div(class="divmodall")
          //-     a(href="/posts/neww/" + postIdFileFolderPostList)
          //-       img(src="/images/folderd.svg", alt="")
          //-     p dossier
          //-   div(class="divmodal")
          //-     a(href="/posts/showmodal/" + postIdFileFolderPostList) 
          //-       img(src="/images/filed.svg", alt="")
          //-     p fichier
          img(src="/images/notifications.svg", alt="" class="buttonmlist" postid=post._id)
      //- else
      //-   div(class="divbutton")
      //-     //- a(href="/posts/showmodal/" + post._id) 
      //-     //-   img(src="/images/add2d.svg", alt="" class="buttonmodd")
      //-     //- div(class="showmodal")
      //-     //-   div(class="divmodall")
      //-     //-     a(href="/posts/neww/" + postIdFileFolderPostList)
      //-     //-       img(src="/images/folderd.svg", alt="")
      //-     //-     p dossier
      //-     //-   div(class="divmodal")
      //-     //-     a(href="/posts/showmodal/" + postIdFileFolderPostList) 
      //-     //-       img(src="/images/filed.svg", alt="")
      //-     //-     p fichier
      //-     img(src="/images/notifications.svg", alt="" class="buttonmlist" postid=post._id)
        